
.header_left {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: .5%;

}

.header_right {
    display: flex;
    flex-wrap: wrap;
    float:right;
    align-items: center;
    padding-right: .5%;
}

